$grey: #E6E7E9
$gold: #C6992C

$h1: 10em
$h2: 6em
$p: 1.2em


.nina-title
  a
    color: $gold
    text-decoration: none
    &:hover
      color: $gold
p
  font-family: NeutraText
  font-size: $p
  color: $gold
  text-transform: uppercase


a.nina
  color: $gold
nav
  ul
    li
      a
        color: $gold
        text-shadow: none
        &:hover
          color: $gold