@import "standard"



p
  text-transform: uppercase
  color: $gold
  font-family: NeutraText
  text-align: left
  font-size: 20px
span.splendid
  font-family: SplendidOrnamenty
  text-transform: none
img
  width: 100%
a
  color: white
  &:hover
    color: white



