@import "standard"



p
  text-transform: uppercase
  color: $font
  font-family: NeutraText
  text-align: left
  font-size: 20px
.big-and-bold
  font-size: 26px !important
  //color: darken($font,10%) !important
span.splendid
  font-family: SplendidOrnamenty
  text-transform: none
img
  width: 100%
a
  color: white
  &:hover
    color: white

