#image
  position: absolute
  background-size: cover
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  .item
    z-index: 1
    width: 100%
    height: 100%
    position: absolute
    background-size: cover
  .item.active
    z-index: 3
#image-1
  background: url("/images/home/linguine.png")  no-repeat center
#image-2
  background: url("/images/home/2.jpg") no-repeat center
#image-3
  background: url("/images/home/3.jpg") no-repeat
#image-4
  background: url("/images/home/4.jpg") no-repeat center
#central-text
  position: absolute
  width: 100%
  text-align: center
  z-index: 500
  h1
    width: 100%
    font-size: 13em
    vertical-align: middle
    text-align: inherit
    font-family: NeutraText
    font-weight: normal
    color: white
    margin: 0
    padding: 0
    text-transform: uppercase
  h2
    width: 100%
    font-size: 90px
    line-height: 70px
    text-align: inherit
    font-family: SplendidOrnamenty
    font-weight: normal
    color: white
    margin: 0
    padding: 0




