#image {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }
  #image .item {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover; }
  #image .item.active {
    z-index: 3; }

#image-1 {
  background: url("/images/home/linguine.png") no-repeat center; }

#image-2 {
  background: url("/images/home/2.jpg") no-repeat center; }
  @media (max-width: 768px) {
    #image-2 {
      background: none; } }

#image-4 {
  background: url("/images/home/4.jpg") no-repeat center; }
  @media (max-width: 768px) {
    #image-4 {
      background: none; } }

#central-text {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 500; }
  #central-text h1 {
    width: 100%;
    font-size: 13em;
    vertical-align: middle;
    text-align: inherit;
    font-family: NeutraText;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  #central-text h2 {
    width: 100%;
    font-size: 90px;
    line-height: 70px;
    text-align: inherit;
    font-family: SplendidOrnamenty;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0; }
  @media (max-width: 768px) {
    #central-text {
      position: relative; }
      #central-text h1 {
        font-size: 116px;
        padding-top: 50px; }
      #central-text h2 {
        font-size: 44px; } }

.dropdown-menu {
  background-color: transparent;
  text-align: center;
  border: none;
  box-shadow: none; }
  .dropdown-menu li {
    display: block;
    text-align: center;
    padding: 0 0;
    margin: 0; }
    .dropdown-menu li a {
      color: white; }
      .dropdown-menu li a:hover {
        color: white; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent; }

@media (max-width: 768px) {
  .navbar-nav li {
    padding: 10px 0; } }
