$grey: #C9C3BA
$gold: white

$oldgold:#C6992C

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body, html
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  background: $grey


a.nina
  display: block
  margin: 20px 0 0
  font-family: NeutraText
  text-transform: uppercase
  width: 100%
  color: white
  font-size: 10em
  text-align: center
  text-decoration: none


// Nav Styling
.navbar
  margin-bottom: 0
nav
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  position: absolute
  color: white
  padding: 0
  margin: 0
  width: 100%
  z-index: 500
  ul
    display: block
    width: 100%
    margin: 0
    padding: 0 0 0 0
    font-family: NeutraText
    list-style: none
    text-align: center
    li
      font-size: 20px
      padding: 0 49px
      text-align: inherit
      text-transform: uppercase
      display: inline-block
      cursor: pointer
      @media (max-width: 1200px)
        padding: 0 35px
      @media (max-width: 992px)
        padding: 0 16px

      a
        padding: 0 !important
        color: white
        text-decoration: none
        //text-shadow: 1px 1px black
        
        &:hover
          color: #ffffff
          text-decoration: none
          background: transparent
          background-color: transparent !important
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
  background-color: $grey
.dropdown-menu
  background-color: $grey
  border: none
  box-shadow: none
  li
    display: block
    text-align: center
    padding: 10px 0
    a
      color: $gold
      &:hover
        color: $gold


.icon-bar
  background-color: white
  border-radius: 1px
@font-face
  font-family: 'SplendidOrnamenty'
  src: url('fonts/splendidornamenty.ttf')

@font-face
  font-family: 'NeutraText'
  src: url('fonts/NeutraText.ttf')