*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body, html
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  background: #E6E7E9

nav
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  position: absolute
  color: white
  padding: 0
  margin: 0
  width: 100%
  ul
    display: block
    width: 100%
    margin: 0
    padding: 100px 0
    font-family: NeutraText
    list-style: none
    text-align: center
    li
      font-size: 20px
      padding: 0 40px
      text-align: inherit
      text-transform: uppercase
      display: inline-block
      cursor: pointer
      a
        color: white
        text-decoration: none
        text-shadow: 1px 1px black
      > ul
        z-index: 50
        padding: 0
        width: auto
        position: absolute
        li
          display: none
          padding: 0
          text-align: center
          margin-top: 10px


@font-face
  font-family: 'SplendidOrnamenty'
  src: url('fonts/splendidornamenty.ttf')

@font-face
  font-family: 'NeutraText'
  src: url('fonts/NeutraText.ttf')