h1 {
  font-family: NeutraText;
  font-size: 10em;
  text-transform: uppercase;
  color: white; }

.nina-title a {
  color: white;
  text-decoration: none; }
  .nina-title a:hover {
    color: white; }

p {
  font-family: NeutraText;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase; }

a.nina {
  color: white; }

nav ul li a {
  color: white;
  text-shadow: none; }
  nav ul li a:hover {
    color: white; }

img.mussels {
  width: 100%; }

h2 {
  font-family: SplendidOrnamenty;
  font-size: 6em;
  color: white; }

p.text-center {
  margin-top: 30px;
  color: white; }
  p.text-center a {
    color: white; }

#parties {
  background: url("/images/parties/parties.png") center no-repeat;
  background-size: cover; }

#title {
  display: table;
  margin: 0 auto;
  padding: 200px 0; }
  #title h1, #title h2 {
    text-align: center;
    margin: 0; }

#details p {
  margin: 0; }
