h1 {
  font-family: NeutraText;
  font-size: 10em;
  text-transform: uppercase;
  color: white; }

@media (max-width: 768px) {
  .nina-title {
    margin: 0;
    line-height: 116px; } }
.nina-title a {
  color: white;
  text-decoration: none; }
  @media (max-width: 768px) {
    .nina-title a {
      font-size: 116px;
      margin-top: 0; } }
  .nina-title a:hover {
    color: white; }

p {
  font-family: NeutraText;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase; }

a.nina {
  color: white; }

nav ul li a {
  color: white;
  text-shadow: none; }
  nav ul li a:hover {
    color: white; }

.mobile-nav {
  border-top: 1px solid #a79e8f;
  padding: 0;
  margin: 0; }
  .mobile-nav ul {
    margin: 0; }
  .mobile-nav li {
    padding: 10px 0;
    border-bottom: 1px solid #a79e8f; }

.van-image {
  width: 100%;
  padding-bottom: 30px; }
